 <header class="navbar-static-top" role="navigation" id="Home">
        <div class="container">
          <nav class="navbar" id="mainNav">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <div class="collapse navbar-collapse" id="mainMenu">
              <ul class="navbar-nav">
                <li><a class="nav-link js-scroll-trigger" href="#HowItWorks">How It Works</a></li>
                <li><a class="nav-link js-scroll-trigger" href="#WhyChooseUs">Why Choose Us</a></li>
                <li><a class="nav-link js-scroll-trigger" href="#MeetOurGuides">Meet Our Guides</a></li>
                <li><a class="nav-link js-scroll-trigger" href="become-guide.html">Become a Guide</a></li>
                <li class="last"><a href="https://form.jotform.me/81998928582480" target="_blank">Sign Up</a></li>
              </ul>
            </div>
          </nav>
          <div class="logo" itemscope itemtype="http://schema.org/Organization"><a itemprop="url" href="index.html"><img itemprop="logo" src="images/logo.png" alt="Odigos" title="Odigos Logo" class="img-responsive"></a></div>
        </div>
      </header>