<section class="banner-header guide-details-banner text-center">
        <div class="layer">
          <div class="container">
            <h1 class="main_heading2">Find Your Odigos Guide<span></span></h1>
          </div>
        </div>
      </section>
      <section class="find-guides  guide-list">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="listing clearfix">
                <div class="listing-left"> <a href="guide-details.html"><img src="images/guide-pic1.png" alt="guide1" class="img-responsive"></a> <span class="guide-fee">$ 150</span> </div>
                <div class="listing-right">
                  <h3><a href="guide-details.html">Manoj Kumar</a><br>
                  <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></h3>
                  <div class="guide-detail row">
                    <div class="col-xs-12 shortnote"><span><sup><i class="fa fa-quote-left" aria-hidden="true"></i></sup> Money and work is part of life, travel is what we live for Dream. Explore. Discover. Live Local <sup><i class="fa fa-quote-right" aria-hidden="true"></i></sup></span></div>
                    <div class="col-xs-4 text-left">
                      <h4><span>Tour</span>Qutub Minar</h4>
                    </div>
                    <div class="col-xs-4 text-left">
                      <h4><span>Duration</span>04 Hours</h4>
                    </div>
                    <div class="col-xs-4 text-right" style="margin-top:18px;">
                      <a class="btn button2" href="guide-details.html">View Details</a>
                    </div>
                  </div>
                </div>
                <img src="images/certified-badge.png" class="certified-badge img-responsive" alt="certified-badge">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="listing clearfix">
                <div class="listing-left"> <a href="guide-details.html"><img src="images/guide-pic2.png" alt="guide2" class="img-responsive"></a> <span class="guide-fee">$ 140</span> </div>
                <div class="listing-right">
                  <h3><a href="guide-details.html">Ravi Sharma</a><br>
                  <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></h3>
                  <div class="guide-detail row">
                    <div class="col-xs-12 shortnote"><span><sup><i class="fa fa-quote-left" aria-hidden="true"></i></sup> Money and work is part of life, travel is what we live for Dream. Explore. Discover. Live Local <sup><i class="fa fa-quote-right" aria-hidden="true"></i></sup></span></div>
                    <div class="col-xs-4 text-left">
                      <h4><span>Tour</span>Red Fort</h4>
                    </div>
                    <div class="col-xs-4 text-left">
                      <h4><span>Duration</span>03 Hours</h4>
                    </div>
                    <div class="col-xs-4 text-right" style="margin-top:18px;">
                      <a class="btn button2" href="guide-details.html">View Details</a>
                    </div>
                  </div>
                </div>
                <img src="images/certified-badge.png" class="certified-badge img-responsive" alt="certified-badge">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="listing clearfix">
                <div class="listing-left"> <a href="guide-details.html"><img src="images/guide-pic3.png" alt="guide3" class="img-responsive"></a> <span class="guide-fee">$ 150</span> </div>
                <div class="listing-right">
                  <h3><a href="guide-details.html">Dinesh Das</a><br>
                  <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></h3>
                  <div class="guide-detail row">
                    <div class="col-xs-12 shortnote"><span><sup><i class="fa fa-quote-left" aria-hidden="true"></i></sup> Money and work is part of life, travel is what we live for Dream. Explore. Discover. Live Local <sup><i class="fa fa-quote-right" aria-hidden="true"></i></sup></span></div>
                    <div class="col-xs-4 text-left">
                      <h4><span>Tour</span>Lotus Temple</h4>
                    </div>
                    <div class="col-xs-4 text-left">
                      <h4><span>Duration</span>02 Hours</h4>
                    </div>
                    <div class="col-xs-4 text-right" style="margin-top:18px;">
                      <a class="btn button2" href="guide-details.html">View Details</a>
                    </div>
                  </div>
                </div>
                <img src="images/certified-badge.png" class="certified-badge img-responsive" alt="certified-badge">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="listing clearfix">
                <div class="listing-left"> <a href="guide-details.html"><img src="images/guide-pic4.png" alt="guide4" class="img-responsive"></a> <span class="guide-fee">$ 150</span> </div>
                <div class="listing-right">
                  <h3><a href="guide-details.html">Sanjeev Sen</a><br>
                  <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></h3>
                  <div class="guide-detail row">
                    <div class="col-xs-12 shortnote"><span><sup><i class="fa fa-quote-left" aria-hidden="true"></i></sup> Money and work is part of life, travel is what we live for Dream. Explore. Discover. Live Local <sup><i class="fa fa-quote-right" aria-hidden="true"></i></sup></span></div>
                    <div class="col-xs-4 text-left">
                      <h4><span>Tour</span>Amer Fort</h4>
                    </div>
                    <div class="col-xs-4 text-left">
                      <h4><span>Duration</span>04 Hours</h4>
                    </div>
                    <div class="col-xs-4 text-right" style="margin-top:18px;">
                      <a class="btn button2" href="guide-details.html">View Details</a>
                    </div>
                  </div>
                </div>
                <img src="images/certified-badge.png" class="certified-badge img-responsive" alt="certified-badge">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="listing clearfix">
                <div class="listing-left"> <a href="guide-details.html"><img src="images/guide-pic1.png" alt="guide1" class="img-responsive"></a> <span class="guide-fee">$ 150</span> </div>
                <div class="listing-right">
                  <h3><a href="guide-details.html">Manoj Kumar</a><br>
                  <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></h3>
                  <div class="guide-detail row">
                    <div class="col-xs-12 shortnote"><span><sup><i class="fa fa-quote-left" aria-hidden="true"></i></sup> Money and work is part of life, travel is what we live for Dream. Explore. Discover. Live Local <sup><i class="fa fa-quote-right" aria-hidden="true"></i></sup></span></div>
                    <div class="col-xs-4 text-left">
                      <h4><span>Tour</span>Qutub Minar</h4>
                    </div>
                    <div class="col-xs-4 text-left">
                      <h4><span>Duration</span>04 Hours</h4>
                    </div>
                    <div class="col-xs-4 text-right" style="margin-top:18px;">
                      <a class="btn button2" href="guide-details.html">View Details</a>
                    </div>
                  </div>
                </div>
                <img src="images/certified-badge.png" class="certified-badge img-responsive" alt="certified-badge">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="listing clearfix">
                <div class="listing-left"> <a href="guide-details.html"><img src="images/guide-pic2.png" alt="guide2" class="img-responsive"></a> <span class="guide-fee">$ 140</span> </div>
                <div class="listing-right">
                  <h3><a href="guide-details.html">Ravi Sharma</a><br>
                  <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></h3>
                  <div class="guide-detail row">
                    <div class="col-xs-12 shortnote"><span><sup><i class="fa fa-quote-left" aria-hidden="true"></i></sup> Money and work is part of life, travel is what we live for Dream. Explore. Discover. Live Local <sup><i class="fa fa-quote-right" aria-hidden="true"></i></sup></span></div>
                    <div class="col-xs-4 text-left">
                      <h4><span>Tour</span>Red Fort</h4>
                    </div>
                    <div class="col-xs-4 text-left">
                      <h4><span>Duration</span>03 Hours</h4>
                    </div>
                    <div class="col-xs-4 text-right" style="margin-top:18px;">
                      <a class="btn button2" href="guide-details.html">View Details</a>
                    </div>
                  </div>
                </div>
                <img src="images/certified-badge.png" class="certified-badge img-responsive" alt="certified-badge">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="listing clearfix">
                <div class="listing-left"> <a href="guide-details.html"><img src="images/guide-pic3.png" alt="guide3" class="img-responsive"></a> <span class="guide-fee">$ 150</span> </div>
                <div class="listing-right">
                  <h3><a href="guide-details.html">Dinesh Das</a><br>
                  <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></h3>
                  <div class="guide-detail row">
                    <div class="col-xs-12 shortnote"><span><sup><i class="fa fa-quote-left" aria-hidden="true"></i></sup> Money and work is part of life, travel is what we live for Dream. Explore. Discover. Live Local <sup><i class="fa fa-quote-right" aria-hidden="true"></i></sup></span></div>
                    <div class="col-xs-4 text-left">
                      <h4><span>Tour</span>Lotus Temple</h4>
                    </div>
                    <div class="col-xs-4 text-left">
                      <h4><span>Duration</span>02 Hours</h4>
                    </div>
                    <div class="col-xs-4 text-right" style="margin-top:18px;">
                      <a class="btn button2" href="guide-details.html">View Details</a>
                    </div>
                  </div>
                </div>
                <img src="images/certified-badge.png" class="certified-badge img-responsive" alt="certified-badge">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="listing clearfix">
                <div class="listing-left"> <a href="guide-details.html"><img src="images/guide-pic4.png" alt="guide4" class="img-responsive"></a> <span class="guide-fee">$ 150</span> </div>
                <div class="listing-right">
                  <h3><a href="guide-details.html">Sanjeev Sen</a><br>
                  <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star rated" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></h3>
                  <div class="guide-detail row">
                    <div class="col-xs-12 shortnote"><span><sup><i class="fa fa-quote-left" aria-hidden="true"></i></sup> Money and work is part of life, travel is what we live for Dream. Explore. Discover. Live Local <sup><i class="fa fa-quote-right" aria-hidden="true"></i></sup></span></div>
                    <div class="col-xs-4 text-left">
                      <h4><span>Tour</span>Amer Fort</h4>
                    </div>
                    <div class="col-xs-4 text-left">
                      <h4><span>Duration</span>04 Hours</h4>
                    </div>
                    <div class="col-xs-4 text-right" style="margin-top:18px;">
                      <a class="btn button2" href="guide-details.html">View Details</a>
                    </div>
                  </div>
                </div>
                <img src="images/certified-badge.png" class="certified-badge img-responsive" alt="certified-badge">
              </div>
            </div>
          </div>
        </div>
      </section>